# ignore .idea files
/.idea

# ignore .DS_Store files
.DS_*

# ignore .obsidian
/.obsidian

# ignore DB data file
/data

# ignore server key
*.pem

# ignore nohup.out
nohup.out

# uploads file
/uploads
